#product_name {
    width: calc(50% + 330px); /* Adjust the width as needed */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#brand {
    width: 138px; /* Set width to auto to match the content */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#product_name,
#product_describe,
#product_price,
#image_product {
    border: 1px solid #ccc;
    width: calc(100% - 22px); /* Adjust width to account for border and padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* Rest of your existing CSS */
.container-insert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#add_form {
    width: 1000px;
}

.input-container {
    display: flex;
}

.input-container input,
.input-container select {
    width: 50%; /* Adjust the width as needed */
    padding: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#title {
    text-align: left;
    padding: 10px;
    margin-top: -200px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
